# Fichiers sensibles
.env
*.session
session.json
*-auth-info.json

# Dossiers générés
downloads/
media/
logs/
temp/

# Dépendances et builds
node_modules/
dist/

# Fichiers système
.DS_Store
*.log
*.tmp
